{% extends "food/base.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'food/style.css' %}">
  <link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}

{% block title %}Register – Food App{% endblock %}

{% block body %}

  <div class="background"></div>


  <div class="auth-card">
    <h2>Register</h2>
    <form method="post">
      {% csrf_token %}

      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
            <div class="text-danger small">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary w-100">Sign Up</button>
    </form>


    <hr class="my-3" style="border-color: rgba(255,255,255,0.3);">
    <div class="text-center">
      <small>Already have an account?</small>
      <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm ms-2">
        Login
      </a>
    </div>
  </div>
{% endblock %}

